@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .pink_container {
    @apply bg-primary shadow-sm max-h-[530px] pattern flex justify-center flex-col items-center px-6 py-10 w-full;
  }
  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
  .heading {
    @apply uppercase bg-black text-white px-6 py-3 font-work-sans font-extrabold sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }
  .sub-heading {
    @apply font-medium text-center text-[20px] text-white max-w-2xl break-words;
  }
  .search-form {
    @apply rounded-[80px] bg-white border-[5px] w-full max-w-3xl min-h-[80px] border-black text-[24px] mt-8 px-5 items-center flex flex-row gap-5;
  }
  .search-input {
    @apply font-bold  placeholder:text-[20px] placeholder:font-semibold placeholder:text-black-100 w-full outline-none h-auto;
  }
  .search-btn {
    @apply bg-black size-[50px] rounded-full flex text-white items-center justify-center !important;
  }
  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto bg-gray-100
  }
  .card_grid {
    @apply grid md:grid-cols-3  xs:grid-cols-1 sm:grid-cols-2 gap-5 mt-5;
  }
  .startup-card {
    @apply   border-black border-[5px] py-6 px-5  rounded-xl shadow-md hover:border-primary transition-all duration-500 hover:shadow-lg hover:bg-primary-100;
  }
  .startup-card_date {
    @apply font-medium text-[16px]  py-2 rounded-full  transition-all duration-500;
  }
  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }
  .startup-card_img {
    @apply w-full h-[164px] md:h-[350px] object-cover flex   rounded-[10px];
  }
  .startup-card_btn {
    @apply rounded-full bg-black-200 text-white px-5 py-3 text-[16px] font-medium !important;
  }
}
